@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Poppins:wght@200&display=swap');

body {
    font-family: 'Poppins', sans-serif !important;;
  }

  .navbar {
    background-image: linear-gradient(to right, #585756, #ea8186);
    border-bottom: 1px solid #ddd;
    padding: 1rem;
    box-shadow:0 5px 10px rgba(0, 0, 0, 0.1);
  }



.navbar-toggler {
    border: none;
    outline: none;
}

.navbar-toggler-icon {
    background-color: #333;
    height: 2px;
    width: 20px;
}

.navbar-nav .nav-item {
    margin-right: 2.5rem;
}

.navbar-nav .nav-item:last-child {
    margin-right: 0;
}

.navbar-nav .nav-link {
    color: #333;
    font-size: 20px;
    font-weight: 900;
    text-transform: uppercase;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link.active {
    color: #cda776;
}

.nav-buttons .fa {
    font-size: 1.5rem;
    margin-right: 0.5rem;
    color: #333;
}

.nav-buttons .fa:hover {
    color: #cda776;
}
.nav-buttons {
    margin-left: 50%;
  }

footer{
    background-color: rgb(20, 20, 20);}
    
    footer h5 {
    
      color: #D8d8d8;
      font-weight: 700;
      font-size: 1.2rem;
    }
    
    footer li {
      padding-bottom: 20px;
    }
    
    footer li a{
      font-size: 0.8rem;
      color: #999;
      text-decoration: none;
    }
    
    footer li a:hover{
      color: hsl(0, 100%, 48%);
    
    }
    
    footer .copyright a{
    
      color: black;
      height: 40px;
      width: 40px;
      background-color: #fff;
      display: inline-block;
      text-align: center;
      line-height: 38px;
      border-radius: 50%;
      transition: 0.3s ease;
      margin: 0 5px;
    }
    footer .copyright a:hover{
      color: white;
      background-color: orangered;
    
    }
    
    footer p{
    
      color: #fff;
    
    }
    
    .logo{
      width: 90px;
      height: 70px;
      margin-left: -120px;
    }
    
    .navbar .brand{
      
      color: coral;
      margin: 3px 5px;
      font-size: 2rem;
    
    }
    
    .small-img-group{
      display: flex;
      justify-content: space-between;
    
    }
    
    .small-img-col{
      flex-basis: 24%;
      cursor: pointer;
    
    }
    .single-product input{
      width: 50px;
      height: 40px;
      padding-left:10px ;
      font-size: 16px;
      margin-right: 10px;
    
    }
    .single-product input:focus{
      outline: none;
    }
    
    .single-product .product-btn{
      background-color: coral;
      transition: 0.4s all;
      opacity: 1;
    }
    
    .single-product .product-btn:hover{
      background-color: #222222;
    
    }

   